.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  color: black;
}

.createGameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
}

.createGameButton {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: green;
  margin-top: 20px;
  cursor: pointer;
}

.bgBlue {
  background-color: blue;
}

.marginLeft20 {
  margin-left: 20px;
}

.gameStatusPill {
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 20px;
  border: 1px solid black;
  background-color: #4CAF50;
  color: white;
}

.timeoutButton {
  width: 100%;
  background-color: red;
}

.createGameButton:hover {
  transform: scale(0.9);
}

.fullWidth {
  width: 100%;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px
}

.installMetamask {
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
}

.connectWallet {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  cursor: pointer;
  align-self: flex-end;
}

.connectWallet:hover {
  background-color: darkblue;
}

.connectWallet:active {
  background-color:cornflowerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disconnectWallet {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}

.disconnectWallet:hover {
  background-color: darkred;
}

.disconnectWallet:active {
  background-color: firebrick;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.gameRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameRowItem {
  margin-right: 10px;
}

.gameRowHeader {
  padding-left: 10px;
  display: flex;
  width: 100%;
  align-items: center;
}

.gameRowBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.gameActionContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.gameActionTitle {
  align-self: center;
}

.input {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.gameRowHeader a { 
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}
